@import './variables.scss';

.is-flat {
  border-radius: 0;

  &:focus {
    outline: none!important;
    border: none!important;
    box-shadow: none!important;
  }
}

.bordered {
  border: 1px solid $primary;
}

.rounded {
  border-radius: .5rem;
}

.shadow {
  box-shadow: 0 0.5rem 1rem $light;
}

.h-full {
  height: 100%;
}